Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: Command line tool to convert DTBook XML to a Braille format proprietary to SBS
 It uses Saxon with a java extension to provide translating text into braille using liblouis.
Maintainer: Christian Egli <christian.egli@sbs.ch>
Homepage: https://github.com/sbsdev/dtbook2sbsform
Depends: default-jdk